# Django Settings
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# TiDB Connection Settings (MySQL Compatible)
# If these are not provided, the application will automatically fallback to SQLite.
TIDB_HOST=
TIDB_PORT=
TIDB_USER=
TIDB_PASSWORD=
TIDB_DB_NAME=
TIDB_SSL_CA=  # Optional: Path to SSL CA certificate (e.g. /etc/ssl/cert.pem)

# Cloudinary Integration (Image Storage)
# If these are not provided, the application will fallback to standard local storage.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Paystack API Settings (Payments)
# If these are not provided, the application will use a Mock Payment checkout flow.
PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=  # Used for verifying webhooks
